<a href="https://colab.research.google.com/github/MinsooKwak/Code_practice/blob/main/%EC%A0%95%EB%A0%AC_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 내장함수 x
- 반복문과 조건문만 활용하여

### 버블정렬

In [6]:
def bubble_sort(li):
    """
    # 문제 1.
        거품정렬을 구현해주세요.
        매개변수로 들어온 리스트를 오름차순으로 정렬해주세요.
        단 매개변수로 들어오는 요소는 전부 정수입니다. 

        ex)
            li = [54, 26, 93, 17, 77, 31]
            bubble_sort(li)
            print(li) # [17, 26, 31, 54, 77, 93]
    """
    for i in range(len(li)):              # 0부터 리스트의 길이까지 1범주로 순차적으로 돌 것
      for j in range(0,len(li)-i-1):      # 0부터 길이에서 -1,i만큼 뺀 범위만큼 돈다
        if li[j] > li[j+1]:               # 만약 j번째가 j+1번째보다 크면
          li[j], li[j+1] = li[j+1], li[j] # 위치를 바꿔준다
    return li

num1_li = [54, 26, 93, 17, 77, 31]
bubble_sort(num1_li)

[17, 26, 31, 54, 77, 93]

### 삽입정렬

In [7]:
def insertion_sort(li):
    """
    # 문제 2.
        삽입정렬을 구현해주세요.
        매개변수로 들어온 리스트를 오름차순으로 정렬해주세요.
        단 매개변수로 들어오는 요소는 전부 정수입니다. 

        ex)
            li = [54, 26, 93, 17, 77, 31]
            insertion_sort(li)
            print(li) # [17, 26, 31, 54, 77, 93]
    """
    for i in range(1,len(li)):            # 순차적으로 진행, [0]은 고정 [1]부터 시작
      for j in range(i, 0, -1):           # i부터 역순으로 돌며
        if li[j] < li[j-1]:               # j번째가 j-1보다 작으면
          li[j], li[j-1] = li[j-1], li[j] # 위치를 바꿈
        else:                             # j번째가 j-1보다 작지 않으면
          break                           # 냅둠 break
    return li


li_2 = [54, 26, 93, 17, 77, 31]
insertion_sort(li_2)

[17, 26, 31, 54, 77, 93]

In [8]:
#Insertion Sort
def Insertion_Sort(array):
    for a in range(1, len(array)):
        for b in range(a, 0, -1):
            if array[b] < array[b-1]:
                   array[b], array[b-1] = array[b-1], array[b]
            else:
                   break
    return array



print(Insertion_Sort(li_2))

[17, 26, 31, 54, 77, 93]

### 선택 정렬

In [9]:
def selection_sort(li):
    """
    # 문제 3.
        선택정렬을 구현해주세요.
        매개변수로 들어온 리스트를 오름차순으로 정렬해주세요.
        단 매개변수로 들어오는 요소는 전부 정수입니다. 

        ex)
            li = [54, 26, 93, 17, 77, 31]
            selection_sort(li)
            print(li) # [17, 26, 31, 54, 77, 93]
    """
    #전체에서 가장 작은 것 앞에 배치
    for i in range(len(li)-1):                    # 1부터 리스트 -1만큼 반복
      min_index = i                               # 가장 작은 값을 갖는 인덱스 저장
      
      # 뒤에 계산
      for j in range(i+1,len(li)):                # i+1번째부터 끝까지 반복하며 아래 계산
        if li[min_index] > li[j]:                 # min_index 값보다 작으면 
          min_index = j                           # j를 min_index로 바꿔줌
      li[min_index], li[i] = li[i], li[min_index] # 값 교환(바꿔줌)
    return li

li_3 = [54, 26, 93, 17, 77, 31]
selection_sort(li_3)
print(li_3)

[17, 26, 31, 54, 77, 93]

[알고리즘 흐름 페이지](https://www.toptal.com/developers/sorting-algorithms)

In [1]:
def print_to_zero_pos(n, result_list=list()):
  if n == 0:
    result_list.append(n)
    return result_list
  else:
    result_list.append(n)
    return print_to_zero_pos(n-1, result_list)
  return result_list
  
print_to_zero_pos(5)

[5, 4, 3, 2, 1, 0]

In [5]:
def print_to_zero_neg(n, result_list):
	"""
	# 문제 2.
		-1 이하의 음수를 입력받아 입력받은 수부터 0까지 구하는 함수를 작성해주세요.
		재귀함수를 꼭 사용해주셔야합니다.
		result_list안에 결과 값을 넣어주세요.
		(result_list를 어떻게 사용하는지는 아래 코드 사용 예제를 참고해주세요.)

		해당 코드 사용 예제
			neg = int(input("input : ")) # -3
			result_list_neg = []
			print_to_zero_neg(neg, result_list_neg)
			print(result_list_neg) #[-3,-2,-1,0]
	"""
	if n == 0:
		result_list.append(n)
		return result_list
	
	else:
		result_list.append(n)
		return print_to_zero_neg(n+1,result_list)

result_list_neg = []
print_to_zero_neg(-5, result_list_neg)

[-5, -4, -3, -2, -1, 0]

### part2

## Sort Practice

In [10]:
song_list = ['5취중고백', '4사랑은 늘 도망가', '1회전목마', '3ELEVEN', '2Counting Stars']
song_list2 = []
for i in song_list:
    song_list2.append((i[0],i[1:]))

print(song_list2)

[('5', '취중고백'), ('4', '사랑은 늘 도망가'), ('1', '회전목마'), ('3', 'ELEVEN'), ('2', 'Counting Stars')]